:root {
   --primary-white-color: #fff;
  --bakground-header: linear-gradient(
    89.96deg,
    #4e7c32 16.86%,
    rgba(102, 83, 69, 0) 174.66%
  );
  --background-hero: linear-gradient(
    97.31deg,
    #b5dcb0 5.13%,
    rgba(249, 243, 238, 0) 139.8%
  );
  --background-sellers: #f5f5f5;
  --background-tools: #f5f5f5;
  --background-categories:#f5f5f5;
  --background-inputs:linear-gradient(to top left,#BDDEB7,#f5f5f5,#f5f5f5);
  --background-footer: #053d29;
  --background-payment: #062f21;
  --background-holders: linear-gradient(
    97.31deg,
    #b5dcb0 5.13%,
    rgba(249, 243, 238, 0) 139.8%
  );
  --background-containers: #f5f5f5;
  --background-plant-pots:#F5F5F5;
  --background-comments:#F5F5F5;
  --background-reviews:#F5F5F5;
  --background-abstracts:#F5F5F5;
 }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-white-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header {
  display: flex;
  background: var(--bakground-header);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.wrapper {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plant {
  position: relative;
  padding-left: 31px;
  width: 525px;
  height: 42.96px;
  margin-top: 12px;
  margin-bottom: 16px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-image: url("images/svg/lense.svg"), url("images/svg/hand.svg");
  background-position: right 10px top 16px, right 8px top 25px;
}
.plant::placeholder {
  font-weight: 300;
  font-size: 12.8887px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}

.language {
  display: flex;
  margin-left: 87px;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 16.5604px;
  line-height: 1.8;
  /* identical to box height, or 171% */
  color: #ffffff;
}
.list {
  display: flex;
  list-style: none;
  margin-left: 127px;
  gap: 30px;
}
.user {
  display: flex;
  width: 28px;
  height: 28px;
  margin-right: 4px;
}
.bag {
  display: flex;
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.sign {
  display: flex;
  width: 8.2px;
  height: 8.2px;
  margin-left: -18px;
  margin-right: 10px;
  background: #f80808;
  border-radius: 50%;
  font-weight: 400;
  font-size: 6px;
  line-height: 1.8;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.list-link:nth-child(1) {
  display: flex;
  font-weight: 400;
  font-size: 15.8457px;
  line-height: 1.7;
  /* identical to box height, or 171% */
  color: #ffffff;
}
.list-link:nth-child(2) {
  display: flex;
  font-weight: 400;
  font-size: 12.3692px;
  line-height: 1.8;
  /* identical to box height, or 171% */
  color: #ffffff;
}
.menus {
  display: flex;
  padding-top: 17px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  border-top: 0.852273px solid #e3e3e3;
}
.product {
  display: flex;
  font-weight: 600;
  font-size: 13.6364px;
  line-height: 1.4;
  /* identical to box height, or 150% */
  color: #ffffff;
  background: transparent;
  border: none;
}

.product option {
  background: #eee;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.7104px;
  line-height: 1.3;
  /* identical to box height */
  text-transform: capitalize;
  color: #665345;
}

.menu-lists {
  display: flex;
  list-style: none;
  gap: 23px;
}
.hero {
  display: flex;
  position: relative;
  height: 597px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: contain;
  background-image: url("images/png/head.png"), var(--background-hero);
}

.left-arrow {
  display: flex;
  position: absolute;
  top: 250px;
  left: 67px;
  width: 18px;
  height: 30px;
}
.right-arrow {
  display: flex;
  position: absolute;
  top: 250px;
  right: 67px;
  width: 18px;
  height: 30px;
}
.hero-title {
  display: flex;
  position: absolute;
  width: 651px;
  height: 142px;
  left: 185px;
  top: 198px;

  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 128.9%;
  /* or 71px */
  color: #505f4e;
}
.hero-text {
  display: flex;
  position: absolute;
  width: 520px;
  height: 57px;
  left: 190px;
  top: 343px;

  font-weight: 400;
  font-size: 15px;
  line-height: 128.9%;
  /* or 19px */
  letter-spacing: 0.1em;
  color: #665345;
}
.button {
  display: flex;
  position: absolute;
  min-width: 216px;
  height: 59px;
  left: 190px;
  top: 423px;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 44px;
  padding-right: 56px;
  border: 3px solid #505f4e;
  border-radius: 3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 128.9%;
  /* identical to box height, or 26px */
  letter-spacing: 0.1em;
  color: #505f4e;
}
.sellers-header {
  display: flex;
  background: var(--background-sellers);
}
.sellers-title {
  display: flex;
  margin-top: 48px;
  margin-left: 50px;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #505f4e;
}
.means-images {
  display: flex;
  background: #ffffff;
}
.means {
  display: flex;
  list-style: none;
  margin-left: 30px;
  margin-top: 70px;
  align-items: flex-end;
  padding-bottom: 47px;
}
.means-item:nth-child(1) > .item-image {
  display: flex;
  width: 165px;
  height: 230px;
  margin-right: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 165px 230px;
  background-image: url("images/img1.jpg");
}
.means-item:nth-child(2) > .item-image {
  display: flex;
  width: 268px;
  height: 261px;
  margin-right: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 268px 261px;
  background-image: url("images/img2.jpg");
}
.means-item:nth-child(3) > .item-image {
  display: flex;
  width: 210px;
  height: 215px;
  margin-right: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 210px 215px;
  background-image: url("images/img3.jpg");
}
.means-item:nth-child(4) > .item-image {
  display: flex;
  width: 226px;
  height: 134px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 226px 134px;
  background-image: url("images/img4.jpg");
}
.box {
  display: flex;
}
.means-title {
  display: flex;
  margin-top: 24px;
  margin-bottom: 7px;
}
.means-item:nth-child(1) > .box {
  margin-left: -50px;
}
.means-item:nth-child(1) > .means-title {
  margin-left: -50px;
}
.means-item:nth-child(1) > .box .item-price {
  margin-left: 127px;
}
.means-item:nth-child(2) > .box .item-price {
  margin-left: 34px;
}
.means-item:nth-child(3) > .box .item-price {
  margin-left: 48px;
}
.means-item:nth-child(4) > .box .item-price {
  margin-left: 42px;
}
.means-item:nth-child(4) > .box .item-price-selected {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12.58px;
  line-height: 1.3;
  text-align: right;
  text-transform: capitalize;
  color: #ff6f61;
  margin-left: 6px;
}
.means-title {
  display: flex;
  font-weight: 600;
  font-size: 13.6364px;
  line-height: 1.4;
  /* identical to box height, or 150% */
  text-transform: capitalize;
  color: #665345;
}
.item-name {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-transform: capitalize;
  color: #777777;
}
.item-price {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-align: right;
  text-transform: capitalize;
  color: #665345;
}
.tools {
  display: flex;
  background: var(--background-tools);
}
.instruments {
  display: flex;
  list-style: none;
  margin-left: 50px;
  margin-top: 61px;
  gap: 13px;
}
.instrument:nth-child(1) > .instrument-image {
  display: flex;
  width: 452px;
  height: 565px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 452px 565px;
  background-image: url("images/img5.jpg");
}

.hand-items {
  display: flex;
  list-style: none;
  gap: 13px;
  flex-wrap: wrap;
}
.hand-item:nth-child(1) > .hand-item-image {
  display: flex;
  width: 277px;
  height: 277px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 277px 277px;
  background-image: url("images/img6.jpg");
}
.hand-item:nth-child(2) > .hand-item-image {
  display: flex;
  width: 277px;
  height: 277px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 277px 277px;
  background-image: url("images/img7.jpg");
}
.hand-item:nth-child(3) > .hand-item-image {
  display: flex;
  width: 277px;
  height: 277px;
  margin-top: -50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 277px 277px;
  background-image: url("images/img8.jpg");
}
.hand-item:nth-child(4) > .hand-item-image {
  display: flex;
  width: 277px;
  height: 277px;
  margin-top: -50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 277px 277px;
  background-image: url("images/img9.jpg");
}

.instrument-name {
  display: flex;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.065em;
  text-transform: lowercase;
  color: #2b2b2b;
}
.hand-item-name {
  display: flex;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.065em;
  text-transform: lowercase;
  color: #2b2b2b;
}

.instrument:nth-child(1) > .band {
  width: 452px;
  height: 70px;
  padding-left: 31px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(
    91.94deg,
    rgba(255, 255, 255, 0.5) 0.8%,
    rgba(255, 255, 255, 0.3815) 63.3%,
    rgba(255, 255, 255, 0) 98.92%
  );
  transform: translateY(-541px);
}
.hand-item:nth-child(1) > .image-band {
  width: 277px;
  height: 52px;
  background: linear-gradient(
    91.94deg,
    rgba(255, 255, 255, 0.5) 0.8%,
    rgba(255, 255, 255, 0.3815) 63.3%,
    rgba(255, 255, 255, 0) 98.92%
  );
  transform: translateY(-268px);
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.hand-item:nth-child(2) > .image-band {
  width: 277px;
  height: 52px;
  background: linear-gradient(
    91.94deg,
    rgba(255, 255, 255, 0.5) 0.8%,
    rgba(255, 255, 255, 0.3815) 63.3%,
    rgba(255, 255, 255, 0) 98.92%
  );
  transform: translateY(-268px);
  padding-left: 23px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.hand-item:nth-child(3) > .image-band {
  width: 277px;
  height: 52px;
  background: linear-gradient(
    91.94deg,
    rgba(255, 255, 255, 0.5) 0.8%,
    rgba(255, 255, 255, 0.3815) 63.3%,
    rgba(255, 255, 255, 0) 98.92%
  );
  transform: translateY(-248px);
  padding-left: 7px;
  padding-top: 6px;
  padding-bottom: 8px;
}
.hand-item:nth-child(4) > .image-band {
  width: 277px;
  height: 52px;
  background: linear-gradient(
    91.94deg,
    rgba(255, 255, 255, 0.5) 0.8%,
    rgba(255, 255, 255, 0.3815) 63.3%,
    rgba(255, 255, 255, 0) 98.92%
  );
  transform: translateY(-248px);
  padding-left: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.categories {
  display: flex;
  background: var(--background-categories);
}
.categories-title {
  display: flex;
  margin-left: -30px;
  margin-top: 73px;
  margin-bottom: 21px;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  /* identical to box height, or 133% */
  color: #505f4e;
}

.categories-images {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-left: -80px;
  padding-top: 48px;
  gap: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.category-image:nth-child(1) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img10.jpg");
}
.category-image:nth-child(2) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img11.jpg");
}
.category-image:nth-child(3) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img12.jpg");
}
.category-image:nth-child(4) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img13.jpg");
}
.category-image:nth-child(5) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img14.jpg");
}
.category-image:nth-child(6) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img15.jpg");
}
.category-image:nth-child(7) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img16.jpg");
}
.category-image:nth-child(8) > .category-picture {
  display: flex;
  width: 303px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 303px 368px;
  background-image: url("images/img17.jpg");
}
.inputs {
  display: flex;
  padding-bottom: 68px;
 background: var(--background-inputs);
 }
.inform {
  display: flex;
  display: block;
  margin-left: 126px;
  margin-top: 102px;
}
.inform-title-subscriber {
  display: flex;
  margin-right: 10px;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 115%;
  /* identical to box height, or 46px */
  letter-spacing: 0.01em;
  color: #505f4e;
}
.inform-title-subscriber::after {
  content: "*";
  width: 23px;
  height: 26px;
  color: #505f4e;
}
.inform-title-newsletter {
  display: flex;
  position: relative;
  margin-top: 4px;
  margin-left: 51px;
  margin-right: -60px;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 115%;
  /* identical to box height, or 46px */
  letter-spacing: 0.01em;
  color: #505f4e;
}
.inform-title-newsletter:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 31.97px;
  left: -40px;
  top: 10px;
  background: #505f4e;
  border: 4.67895px solid #161819;
  transform: rotate(90deg);
}
.inform-text {
  display: flex;
  margin-top: 53px;
  margin-left: 51px;
  width: 237.07px;
  height: 66px;
  font-weight: 400;
  font-size: 14.0368px;
  line-height: 160%;
  /* or 22px */
  letter-spacing: 0.01em;
  color: #555555;
}
.enters {
  display: flex;
  margin-top: 53px;
}
.data-enter {
  margin-right: -160.64px;
  padding-left: 72px;
  width: 508px;
  height: 58px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 3.1193px 93.5789px rgba(142, 131, 113, 0.15);
  background-repeat: no-repeat;
  background-position: left 22px top 18px;
  background-size: 21px 20px;
  background-image: url("images/svg/email.svg");
}
.subscribers {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 160.64px;
  height: 55.37px;
  top: 34px;
  padding-left: 18px;
  padding-top: 19px;
  padding-bottom: 18px;
  background: #656c66;
  font-weight: 600;
  font-size: 12.4772px;
  line-height: 1.6;
  /* identical to box height */
  letter-spacing: 0.16em;
  color: #ffffff;
  justify-content: center;
}
.inform-wrapper {
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
}
.data-enter::placeholder {
  font-weight: 400;
  font-size: 14.0368px;
  line-height: 1.5;
  /* identical to box height */
  color: #57656c;
}
.footer {
  width: 100%;
  background: var(--background-footer);
}
.footer-info {
  display: flex;
  justify-content: baseline;
  padding-bottom: 87px;
}
.footer-data {
  display: flex;
  display: block;
  margin-left: 50px;
}
.footer-text {
  display: flex;
  width: 307px;
  height: 67px;
  margin-top: 81px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5469px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #f9f3ee;
}
.footer-icons {
  display: flex;
  list-style: none;
  margin-top: 30px;
  gap: 30px;
}
.icon-facebook {
  display: flex;
  width: 13.38px;
  height: 13.38px;
  fill: #f9f3ee;
}
.icon-twitter {
  display: flex;
  width: 13.38px;
  height: 10.87px;
  fill: #f9f3ee;
}
.icon-linkedin {
  display: flex;
  width: 13.38px;
  height: 13.38px;
  fill: #f9f3ee;
}
.icon-lucide_youtube {
  display: flex;
  width: 19px;
  height: 19px;
  stroke: #f9f3ee;
  fill: none;
}
.icon-instagram {
  display: flex;
  width: 17px;
  height: 17px;
  fill: #f9f3ee;
}
.icon-link {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.icon-link:hover,
.icon-link:focus {
  background: #f9f3ee;
}
.icon-link:hover .icon-facebook {
  fill: #053d29;
}
.icon-link:focus .icon-facebook {
  fill: #053d29;
}
.icon-link:hover .icon-twitter {
  fill: #053d29;
}
.icon-link:focus .icon-twitter {
  fill: #053d29;
}
.icon-link:hover .icon-linkedin {
  fill: #053d29;
}
.icon-link:focus .icon-linkedin {
  fill: #053d29;
}
.icon-link:hover .icon-lucide_youtube {
  stroke: #053d29;
}
.icon-link:focus .icon-lucide_youtube {
  stroke: #053d29;
}
.icon-link:hover .icon-instagram {
  fill: #053d29;
}
.icon-link:focus .icon-instagram {
  fill: #053d29;
}
.footer-us {
  display: flex;
  display: block;
  margin-left: 68px;
  margin-top: 29px;
}
.us {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.3833px;
  line-height: 1.2;
  /* identical to box height */
  color: #f9f3ee;
}
.details {
  display: flex;
  list-style: none;
  margin-top: 21px;
  gap: 10px;
  flex-direction: column;
}
.detail {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.7104px;
  line-height: 1.7;
  /* or 171% */
  text-transform: capitalize;
  color: #f9f3ee;
}
.footer-life {
  display: flex;
  display: block;
  margin-left: 92px;
  margin-top: 25px;
}
.life {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.3833px;
  line-height: 1.1;
  /* identical to box height */
  color: #f9f3ee;
}
.life-goods {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 21px;
  gap: 10px;
}
.life-good {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.7104px;
  line-height: 1.7;
  /* or 171% */
  text-transform: capitalize;
  color: #f9f3ee;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer-police {
  display: flex;
  display: block;
  margin-top: 30px;
  margin-left: 202px;
}
.police {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.3833px;
  line-height: 1.2;
  /* identical to box height */
  text-transform: lowercase;
  color: #f9f3ee;
}
.determinations {
  display: flex;
  margin-top: 21px;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}
.determination {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.7104px;
  line-height: 1.7;
  /* or 171% */
  text-transform: capitalize;
  color: #f9f3ee;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.payment-means {
  display: flex;
  background: var(--background-payment);
}
.company {
  display: flex;
  margin-left: 137px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11.7104px;
  line-height: 1.7;
  /* or 171% */
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 17px;
}
.payment-icon {
  display: flex;
  width: 199px;
  height: 20px;
  margin-left: 375px;
  margin-top: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("images/svg/icons-payment.svg");
}
.scroll {
  display: flex;
  margin-left: 338px;
  margin-top: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10.0375px;
  line-height: 1.3;
  /* identical to box height, or 133% */
  color: #ffffff;
}
.arrow-up {
  display: flex;
  width: 13.38px;
  height: 13.38px;
  margin-left: 10px;
  margin-top: 14px;
}
/*page-one*/
.holders {
  display: flex;
  background: var(--background-holders);
}
.holders-title {
  display: flex;
  margin-left: 137px;
  padding-top: 71px;
  padding-bottom: 67px;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.7;
  /* identical to box height, or 68% */
  color: #505f4e;
}
.containers {
  display: flex;
   position: relative;
  background: var(--background-containers);
}
.reservoirs {
  display: flex;
  list-style: none;
  margin-top: 31px;
  gap: 108px;
}
.reservoir {
  display: flex;
  position: relative;
  background: #d2e8cd;
  border-radius: 4px;
  width: 193px;
  height: 61.71px;
}
.reservoir-title {
  display: flex;
  min-width: 100px;
  margin-top: 20px;
  margin-left: 9px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15.8333px;
  line-height: 1.4;
  /* identical to box height */
  text-transform: capitalize;
  color: #505f4e;
}
.reservoir:nth-child(1) > .reservoir-picture {
  display: flex;
  width: 66.63px;
  height: 47.5px;
  background-repeat: no-repeat;
  background-size: 66.63px 47.5px;
  background-position: top 7px left 9px;
  background-image: url("images/svg/eckige.svg");
}
.reservoir:nth-child(2) > .reservoir-picture {
  display: flex;
  width: 72px;
  height: 44.92px;
  background-repeat: no-repeat;
  background-size: 72px 44.92px;
  background-position: top 9px left 6px;
  background-image: url("images/svg/runde.svg");
}
.reservoir:nth-child(3) > .reservoir-picture {
  display: flex;
  width: 76px;
  height: 48.72px;
  background-repeat: no-repeat;
  background-size: 76px 48.72px;
  background-position: top 9px left 3px;
  background-image: url("images/svg/untersetz.svg");
}
.reservoir:nth-child(4) > .reservoir-picture {
  display: flex;
  width: 75px;
  height: 44.81px;
  background-repeat: no-repeat;
  background-size: 75px 44.81px;
  background-position: top 9px left 4px;
  background-image: url("images/svg/pflanz.svg");
}
.choose-items{
  display:flex;
  list-style:none;
  margin-top:118px;
  margin-left:99px;
  gap:31px;
  background:transparent:
}
.choose-item{
  display:flex;
  align-items:center;
  width: 312.15px;
height: 43.25px;
background:transparent;
}
#choice{
  display:flex;
  margin-left:13px;
  width: 221.89px;
  height: 43.25px;
  padding-left:17px;
 
   justify-content:center;
  border:none;
background:transparent;
 font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16.9236px;
line-height: 1.4;
/* identical to box height, or 144% */
/* Gray 4 */
color: #BDBDBD;
}
.label-text{
  display:flex;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18.804px;
line-height: 1.4;
/* identical to box height, or 140% */
/* Gray 1 */
color: #333333;
}
.pot-categories{
  display:flex;
  list-style:none;
  margin-left:79px;
  margin-top:59px;
  margin-bottom:76px;
}
.pot-category{
  display:flex;
}
.pot-category:nth-child(2){
  display:flex;
 }
.show-pots{
  display:flex;
   list-style:none;
    flex-wrap:wrap;
   align-items:flex-end;
   gap:98px;
}
.pot-name{
  display:flex;
  margin-top:22px;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16.9236px;
line-height: 1.4;
/* identical to box height, or 144% */
/* Gray 1 */
color: #333333;

}
.pot-price{
  display:flex;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.0432px;
line-height: 1.5;
/* identical to box height, or 150% */
color: #505F4E;
}
.pot-price-crossed-out{
  display:flex;
  margin-left:10px;
  text-decoration:line-through;
  font-style: normal;
font-weight: 400;
font-size: 15.0432px;
line-height: 1.5;
/* identical to box height, or 150% */
color: #505F4E;
}
.show-pot{
  display:flex;
  display:block;
  position:relative;
  justify-content:center;
}

.show-pot:nth-child(1)>.pot-image{
 display:flex;
 width: 200px;
height: 200px;
background-repeat:no-repeat;
background-size:146px 34px,200px 200px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/svg/hart.svg"),url("images/img18.jpg");
}
.show-pot:nth-child(2)>.pot-image{
 display:flex;
width: 224px;
height: 224px;
background-repeat:no-repeat;
background-size:224px 224px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img19.jpg");
}
.show-pot:nth-child(3)>.pot-image{
 display:flex;
width: 211.27px;
height: 169.18px;
background-repeat:no-repeat;
background-size:211.27px 169.18px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img20.jpg");
}
.show-pot:nth-child(4)>.pot-image{
 display:flex;
width: 200px;
height: 200px;
background-repeat:no-repeat;
background-size:200px 200px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img21.jpg");
}
.show-pot:nth-child(5)>.pot-image{
 display:flex;
width: 200px;
height: 200px;
background-repeat:no-repeat;
background-size:200px 200px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img22.jpg");
}
.show-pot:nth-child(6)>.pot-image{
 display:flex;
width: 200px;
height: 200px;
background-repeat:no-repeat;
background-size:200px 200px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img23.jpg");
}
.show-pot:nth-child(7)>.pot-image{
 display:flex;
width: 200px;
height: 200px;
background-repeat:no-repeat;
background-size:200px 200px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img24.jpg");
}
.show-pot:nth-child(8)>.pot-image{
 display:flex;
width: 136.95px;
height: 241.23px;
background-repeat:no-repeat;
background-size:136.95px 241.23px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img25.jpg");
}
.show-pot:nth-child(9)>.pot-image{
 display:flex;
width: 226px;
height: 226px;
background-repeat:no-repeat;
background-size:226px 226px;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img26.jpg");
}
.prices{
  display:flex;
}
.pot-category:nth-child(2){
  display:flex;
  flex-direction:column;
}
.list-title{
  display:flex;
  font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.3;
/* or 133% */
color: #505F4E;
}
.list-categories{
  display:flex;
  list-style:none;
  flex-direction:column;
  margin-top:27px;
  gap:14px;
}
.list-category{
  display:flex;
}
.text-check{
  display:flex;
  margin-left:8px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 1.3;
text-transform: capitalize;
/* Gray 1 */
color: #333333;
}
.pot-category:nth-child(2)>.favorite-image{
  display:flex;
  width: 213px;
height: 262px;
margin-top:33px;
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-image:url("images/img27.jpg");
}
.price-filter{
  display:flex;
  margin-top:24px;
 font-weight: 700;
font-size: 18.804px;
line-height: 1.4;
/* or 140% */
/* Gray 1 */
color: #333333;
}
.pot-category:nth-child(2)> .price-image{
  display:flex;
  width:233.17px;
height:9.73px;
margin-left:-10px;
background-repeat:no-repeat;
background-size:cover;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/price-renge.jpg");
}
.price-wrapper{
  display:flex;
  justify-content:space-between;
}
.price{
  display:flex;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.0432px;
line-height: 1.3;
/* or 150% */
/* Black 1 */
color: #1E1E1E;
opacity: 0.61;
}
.filter{
  display:flex;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15.0432px;
line-height: 1.5;
/* or 150% */
/* Black /ododod */
color: #0D0D0D;
opacity: 0.61;
}
.filter-size{
  display:flex;
  margin-top:43px;
 font-weight: 700;
font-size: 18.804px;
line-height: 1.4;
/* or 140% */
/* Gray 1 */
color: #333333;
}
/*page-two*/
.plant-pots{
  display:flex;
  position:relative;
  background:var(--background-plant-pots);
}
.pots-description{
  display:flex;
  list-style:none;
margin-top:107px;
}
.pot-description{
  display:flex;
}
.pot-description:nth-child(1){
  display:flex;
  min-width:600px;
}
.pot-description:nth-child(2){
  display:flex;
  flex-direction:column;
 margin-left:135px;
}
.pot-drawings{
  display:flex;
  margin-left:202px;
  list-style:none;
  flex-wrap:wrap;
  gap:34px;
}
.pot-drawing:nth-child(1){
  display:flex;
  width: 355px;
  height: 355px;
  background-repeat:no-repeat;
background-size:cover;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img28.jpg");
}
.pot-drawing:nth-child(2){
  display:flex;
  width: 106px;
  height: 106px;
  border:none;
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center;
 mix-blend-mode: darken;
 background-image:url("images/img29.jpg");
}
.pot-drawing:nth-child(3){
  display:flex;
 width: 100px;
height: 100px;
  background-repeat:no-repeat;
background-size:cover;
background-position:center;
mix-blend-mode: darken;
background-image:url("images/img30.jpg");
}
.pot-drawing:nth-child(4){
  display:flex;
  width: 85.49px;
  height: 103px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  mix-blend-mode: darken;
  background-image:url("images/img31.jpg");
}
.pot-drawing:hover{
border: 0.5px solid #000000;
border-radius: 10px;  
}
.plant-title{
  display:flex;
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #4E7C32;
}
.pot-title{
  display:flex;
  margin-top:20px;
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 1.1;
/* or 109% */
/* Very dark blue */
color: #1D2025;
}
.lorem{
  display:flex;
  width:500px;
  margin-top:23px;
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* or 162% */
/* Grayish blue */
color: #68707D;
}
.pot-prices{
  display:flex;
  width:173.72px;
  margin-top:32px;
  justify-content:space-between;
}
.pot-money{
  display:flex;
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 0.9;
/* or 87% */
/* Very dark blue */
color: #1D2025;
}
.pot-percentage{
  display:flex;
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.6;
/* or 162% */
color: #505F4E;
}
.pot-price-corrected{
  display:flex;
  margin-top:9px;
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.6;
/* or 162% */
letter-spacing: 0.03em;
text-decoration-line: line-through;
/* Very dark blue */
color: #1D2025;
}
  .controls{
    display:flex;
   margin-top:17px;
  }
  .icon-symbols{
    display:flex;
    width: 157px;
    height: 55px;
  }
  .cart{
    display:flex;
    margin-left:15px;
 justify-content: center;
align-items: center;
width: 273px;
height: 54px;
gap:10px;
background: #4E7C32;
box-shadow: 0px 8px 10px #FFEDE0;
border-radius: 10px;
font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
/* White */
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
  }
  .icon-cart{
    display:flex;
    width: 17px;
    height: 15.45px;
  }
  .comments{
    display:flex;
     background:var(--background-comments);
    }
  .ipsum{
    display:flex;
   margin-left:189px;
    margin-top:121px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #4E7C32;

  }
  .ipsum-text{
    display:flex;
    width: 952px;
    height: 90px;
    margin-left:189px;
    margin-top:5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    color: #665345;
  }
  .about{
    display:flex;
    margin-left:189px;
    margin-top:30px;
    font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 30px;
     line-height: 1.2;
     color: #4E7C32;
  }
  .about-text{
    display:flex;
    width: 952px;
    height: 90px;
    margin-left:189px;
    margin-top:1px;
    font-family: 'Inter';
    font-style: normal;
     font-weight: 300;
      font-size: 20px;
     line-height: 1.2;
   color: #665345;
  }
  .reviews{
    display:flex;
    background:var( --background-reviews);
  }
  .objects{
    display:flex;
    margin-top:57px;
    margin-left:226px;
    list-style:none;
  }
  .object:nth-child(1){
    display:flex;
    width: 183px;
   height: 183px;
   background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  mix-blend-mode: darken;
  background-image:url("images/img32.jpg");
  }
  .object:nth-child(2){
   display:flex;
   margin-left:17px;
   flex-direction:column;
    justify-content:center;
  }
 .object:nth-child(2)> .stars{
    display:flex;
    align-items:flex-end;
    width: 164.02px;
    height: 31.75px;
    background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image:url("images/svg/stars.svg");
  }
 
  .figures{
    display:flex;
    align-items:center;
    justify-content:center;
      }
  .figure{
    display:flex;
    font-family: 'Istok Web';
    font-style: normal;
   font-weight: 400;
   font-size: 32.7545px;
   line-height: 1.4;
   color: #4E7C32;
  }
  .bracket{
    display:flex;
    margin-left:6px;
    font-family: 'Istok Web';
    font-style: normal;
     font-weight: 400;
    font-size: 17.637px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);
  }
  .write{
    display:flex;
    margin-left:349px;
    min-width: 118.95px;
    height: 33.99px;
   align-items:center;
   justify-content:center;
    background: #4E7C32;
    border:none;
    border-radius: 13.5948px;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14.2745px;
    line-height: 1.5;
    /* identical to box height */
    color: #FFFFFF;
  }
  .decors{
    display:flex;
    list-style:none;
    margin-left:226px;
    margin-top:43px;
    flex-direction:column;
    gap:13px;
  }
  .decor{
    display:flex;
    align-items:center;
    }
  
  .row{
    display:flex;
     width: 6px;
   height: 20px;
   margin-right:5px;
   font-family: 'Istok Web';
   font-style: normal;
   font-weight: 400;
   font-size: 14.0253px;
   line-height: 1.4;
   color: #000000;
  }
 .space{
  display:flex;
  margin-left:10px;
  width: 447.74px;
  height: 10.34px;
  background: #A2A0A0;
  border-radius: 2.21655px;
 }
 .bar{
  display:flex;
  margin-left:10px;
   width: 69.45px;
  height: 10.34px;
  background: #D9D9D9;
  border-radius: 1.4777px;
 }
  .digit{
    display:flex;
    margin-left:6px;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16.2547px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);

  }
  .decor:nth-child(1)>.star{
    display:flex;
    width: 11.1px;
    height: 10.74px;
     background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url("images/svg/star.svg");
  }
  .decor:nth-child(2)>.star{
    display:flex;
    width: 11.1px;
    height: 10.74px;
     background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url("images/svg/star.svg");
  }
   .decor:nth-child(3)>.star{
    display:flex;
    width: 11.1px;
    height: 10.74px;
     background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url("images/svg/star.svg");
  }
 
  .decor:nth-child(4)>.star{
    display:flex;
    width: 11.1px;
    height: 10.74px;
     background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url("images/svg/star.svg");
  }
   .decor:nth-child(5)>.star{
    display:flex;
    width: 11.1px;
    height: 10.74px;
     background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image:url("images/svg/star.svg");
  }
  .abstracts{
    display:flex;
    background:var(--background-abstracts);
  }
  .summaries{
    display:flex;
    list-style:none;
    margin-left:236px;
    margin-top:49px;
    gap:100px;
  }
  .summary{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
  }
  .summary-name{
    display:flex;
    margin-top:26px;
    }
    .name{
      display:flex;
      font-family: 'Istok Web';
      font-style: normal;
      font-weight: 400;
      font-size: 16.2547px;
      line-height: 1.4;
      color: #4E7C32;
    }
    .summary:nth-child(1)>.summary-name .icon-stars{
      display:flex;
      width: 42.11px;
      height: 8.15px;
       margin-left:23px;
       align-self:center;
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      background-image:url("images/svg/stars-new.svg");
    }
  .summary:nth-child(2)>.summary-name .icon-stars{
      display:flex;
      width: 42.11px;
      height: 8.15px;
       margin-left:23px;
       align-self:center;
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      background-image:url("images/svg/stars-new.svg");
    }
 .summary-text{
  display:flex;
  margin-top:5px;
  width: 382px;
  height: 64px;
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-size: 11.0827px;
  line-height: 1.4;
  color: #665345;
 }
 .see{
  display:flex;
  width: 59.11px;
  height: 20.24px;
  align-items:center;
  justify-content:center;
  margin-left:631px;
  margin-top:36px;
  background: #4E7C32;
 border-radius: 8.09697px;
 font-family: 'Istok Web';
  font-style: normal;
 font-weight: 400;
 font-size: 12.1455px;
 line-height: 1.4;
color: #FFFFFF;
}

